lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa
**/*.pbxproj
**/*.xcuserstate
**/*.xcscheme

# CocoaPods
Pods

**/Parse.framework/**


src/ios/ParsePhonegap/Parse.framework/Headers/**

src/ios/ParsePhonegap/Parse.framework/Parse/**

src/ios/ParsePhonegap/Parse.framework/Resources/**

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFAnalytics.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFAnalytics.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFAnonymousUtils.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFCloud.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFCloud.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFConstants.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFFacebookUtils.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFFacebookUtils.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFFile.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFGeoPoint.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFImageView.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFImageView.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFInstallation.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFLogInView.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFLogInView.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFLogInViewController.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFObject+Subclass.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFObject.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFObject.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFProduct.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFProductTableViewController.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFProductTableViewController.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFPurchase.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFPurchaseTableViewCell.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFPurchaseTableViewCell.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFPush.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFQuery.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFQueryTableViewController.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFRelation.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFRelation.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFRole.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFSignUpView.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFSignUpViewController.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFSignUpViewController.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFSubclassing.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFTableViewCell.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFTwitterUtils.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFTwitterUtils.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PFUser.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PF_EGORefreshTableHeaderView.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PF_MBProgressHUD.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PF_MBProgressHUD.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/PF_Twitter.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/Parse.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Headers/Parse.h

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Parse

src/ios/ParsePhonegap/Parse.framework/Versions/Current

src/ios/ParsePhonegap/Parse.framework/Versions/Current

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Resources/Localizable.strings

src/ios/ParsePhonegap/Parse.framework/Versions/1.2.18/Resources/Info.plist

src/ios/ParsePhonegap/Parse.framework/third_party_licenses.txt

src/ios/ParsePhonegap/Parse.framework/third_party_licenses.txt

src/ios/ParsePhonegap/ParsePhonegap.xcodeproj/project.pbxproj

src/ios/ParsePhonegap/ParsePhonegap.xcodeproj/project.xcworkspace/contents.xcworkspacedata

src/ios/ParsePhonegap/ParsePhonegap.xcodeproj/project.xcworkspace/xcuserdata/macuser.xcuserdatad/UserInterfaceState.xcuserstate

src/ios/ParsePhonegap/ParsePhonegap.xcodeproj/xcuserdata/macuser.xcuserdatad/xcschemes/ParsePhonegap.xcscheme

src/ios/ParsePhonegap/ParsePhonegap.xcodeproj/project.xcworkspace/xcuserdata/macuser.xcuserdatad/UserInterfaceState.xcuserstate

src/ios/ParsePhonegap/ParsePhonegap.xcodeproj/project.pbxproj

*.pbxproj

*.xcuserstate

*.xcscheme
