<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.mikenaughton.phonegap.parse"
    version="0.1.0">
    <name>Parse</name>
    <author>Mike Naughton</author>
    <description>Phonegap Plugin for Parse Notifications</description>
    <license>MIT</license>
    <keywords>cordova,phonegap,notification,parse</keywords>
    <js-module src="www/parseclient.js" name="ParseClient">
    	<clobbers target="parse"/>
    </js-module>
    <platform name="ios">
    	<config-file target="config.xml" parent="/*">
    		<feature name="ParsePhonegap">
    			<param name="ios-package" value="ParsePhonegap"/>
    		</feature>
    	</config-file>
    	<header-file src="src/ios/ParsePhonegap/ParsePhonegap/ParsePhonegap.h"/>
    	<source-file src="src/ios/ParsePhonegap/ParsePhonegap/ParsePhonegap.m"/>
    	<framework src="src/ios/ParsePhonegap/Parse.framework" />
    </platform>
    <!--<platform name="android">
    </platform>-->
</plugin>